.App {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}
table{
  color: white;
  padding: 10px;
  text-align: center;
}
table,td,th{
  border: 2px solid white;
  border-collapse: collapse;
  padding: 10px 30px;
}

